[submodule "server/lib/bcrypt"]
	path = server/lib/bcrypt
	url = https://github.com/trusch/libbcrypt.git
[submodule "client/lib/TermOx"]
	path = client/lib/TermOx
	url = https://github.com/mattfbacon/TermOx.git
[submodule "server/lib/taopq"]
	path = server/lib/taopq
	url = https://github.com/taocpp/taopq.git
